.footer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 40px;

    background: var(--primary);
    color: var(--white);    
    font-size: 16px;
    line-height: 20px;

    padding: 25px 30px;

    a {
        color: var(--white);  
        text-decoration: none;
    }

    a:hover {
        color: var(--gray-light);
        
    }
}

@media (max-width: 765px) {
	.footer{
		grid-template-columns: 1fr;
        gap: 10px;
	}
}