* {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #F5F6F8;
}

body {
	font-family: "Noto Sans", sans-serif;
}

:root {
	--black: #3B434E;
	--white: white;
	--primary: #7653FC;
	--red: #FC836D;
	--greed: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}

